$create_htaccess = 1;
$webservergroup = 'apache';
$use_suexec = 0;
$db_driver = 'pg';
$db_host = '{{ bugzilla_db_host }}';
$db_name = '{{ bugzilla_db_name }}';
$db_user = '{{ bugzilla_db_user }}';
$db_pass = '{{ bugzilla_db_pass }}';
$db_port = 0;
$db_sock = '';
$db_check = 1;
$db_mysql_ssl_ca_file = '';
$db_mysql_ssl_ca_path = '';
$db_mysql_ssl_client_cert = '';
$db_mysql_ssl_client_key = '';
$index_html = 0;
$interdiffbin = '/usr/bin/interdiff';
$diffpath = '/usr/bin';
$site_wide_secret = '{{ lookup('password', '/dev/null length=54 chars=ascii_letters') }}';
