# dhcpd.conf
not authoritative;

ddns-update-style none;

option domain-name "rockylinux.org";
option domain-name-servers {{ pxeboot_nameservers | mandatory }};
option ntp-servers none;

allow booting;
allow bootp;

option fqdn.no-client-update    on;  # set the "O" and "S" flag bits
option fqdn.rcode2              255;
option pxegrub code 150 = text ;

# required for UEFI HTTP boot
if substring(option vendor-class-identifier, 0, 10) = "HTTPClient" {
  option vendor-class-identifier "HTTPClient";
}
# promote vendor in dhcpd.leases
set vendor-string = option vendor-class-identifier;
# next server and filename options
next-server {{ pxeboot_next_server | mandatory }};
option architecture code 93 = unsigned integer 16 ;

if option architecture = 00:00 {
  filename "pxelinux.0";
} else {
  filename "uefi/grubx64.efi";
}

log-facility local7;

local-address {{ pxeboot_server_address | mandatory }};

subnet {{ pxeboot_subnet | mandatory }} netmask {{ pxeboot_netmask | mandatory }} {
  option subnet-mask {{ pxeboot_netmask }};
  not authoritative;

  pool
  {
    range {{ pxeboot_range_low | mandatory }} {{ pxeboot_range_high | mandatory }};
  }

  option subnet-mask {{ pxeboot_netmask }};
  option routers {{ pxeboot_gateway }};

  authoritative;

  default-lease-time 1200;
  max-lease-time 3600;
}
