---
# Creates the first set of users for the IdM Infrastructure. This
# should create both regular and admin accounts for separation of
# privilege.
- name: "Creating Initial Accounts"
  freeipa.ansible_freeipa.ipauser:
    ipaadmin_password: "{{ ipaadmin_password }}"
    name: "{{ item.name }}"
    first: "{{ item.first }}"
    last: "{{ item.last }}"
    email: "{{ item.email }}"
    password: "{{ item.password }}"
    title: "{{ item.title }}"
    loginshell: "{{ item.loginshell }}"
    update_password: on_create
  loop: "{{ users }}"
  tags:
    - users

- name: "Creating Initial Admin Accounts"
  freeipa.ansible_freeipa.ipauser:
    ipaadmin_password: "{{ ipaadmin_password }}"
    name: "{{ item.name }}"
    first: "{{ item.first }}"
    last: "{{ item.last }}"
    email: "{{ item.email }}"
    password: "{{ item.password }}"
    title: "{{ item.title }}"
    loginshell: "{{ item.loginshell }}"
    update_password: on_create
  loop: "{{ adminusers }}"
  tags:
    - users
