---
# This builds out the initial users and groups for the rocky linux infra
- name: Create our initial users
  hosts: ipaserver
  become: false
  gather_facts: false
  vars_files:
  - vars/vaults/encpass.yml
  - vars/ipa/rdns.yml
  - vars/ipa/fdns.yml

  tasks:
    - name: "Checking for user variables"
      assert:
        that:
          - ipaadmin_password | mandatory
        success_msg: "Required variables provided"
        fail_msg: "We are missing ipa admin password"

    - name: "Create Reverse Domains"
      freeipa.ansible_freeipa.ipadnszone:
        ipaadmin_password: '{{ ipaadmin_password }}'
        name: '{{ item }}'
      with_items: '{{ rdns }}'

    - name: "Create Forward Domains"
      freeipa.ansible_freeipa.ipadnszone:
        ipaadmin_password: '{{ ipaadmin_password }}'
        name: '{{ item }}'
      with_items: '{{ fdns }}'
