#keep tmp folder empty
tmp/*
!tmp/Readme.md

#keep folder holding public roles empty
roles/public/*
!roles/public/Readme.md

#keep folder holding ansible collections empty
collections/*
!README.md

# Ignore all vaults
playbooks/vars/vaults/*
!playbooks/vars/vaults/README.md

# Ignore hidden configs
playbooks/templates/hidden/*
!playbooks/templates/hidden/README.md

# keep the inventory generic
inventories/staging/hosts.ini
inventories/production/hosts.ini
